<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acerosocotlan.progresoacerosocotlan">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controlador.Splash"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/pantalla_completa">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Controlador.ProgresoEntregaActivity"
            android:label="@string/title_activity_progreso_entrega"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa2" />
        <activity
            android:name=".Controlador.DetalleEntregaActivity2"
            android:label="Detalles de su entrega"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa" />
        <activity
            android:name=".Controlador.CodigoIngreso"
            android:screenOrientation="portrait"
            android:theme="@style/Pantalla_codigo_ingreso" />
        <activity
            android:name=".Controlador.EncuestaActivity"
            android:label="@string/title_activity_encuesta"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa2" />
        <activity
            android:name=".Controlador.EncuestaComentario"
            android:label="@string/title_activity_encuesta_comentario"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa" />
        <activity
            android:name=".Controlador.VerOferta"
            android:label="@string/title_activity_ver_oferta"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa" />
        <activity
            android:name=".Controlador.ErrorConexionActivity"
            android:label="@string/title_activity_error_conexion"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa" />
        <activity
            android:name=".Controlador.FirmaSistemasActivity"
            android:label="@string/title_activity_firma_sistemas"
            android:screenOrientation="landscape"
            android:theme="@style/pantalla_completa2"></activity>
    </application>

</manifest>